<% wrap_layout :layout do %>
  <%= component "main_header" %>

  <article class="l-margin-top-wide">
    <header class="l-margin-bottom">
      <!-- Titles -->
      <div class="l-wrapper l-wrapper--full">
        <h1 class="t-centered"><%= current_page.data.title %></h1>
        <% if current_page.data.subtitle.present? %>
          <span class="t-heading t-accent-light t-scale-gamma t-centered c-text-tertiary"><%= current_page.data.subtitle %></span>
        <% end %>
      </div>

      <!-- Cover image -->
      <% if current_page.data.image.present? %>
        <%= image_tag current_page.data.image, class: "cover l-margin-top-wide l-margin-bottom-wide", alt: current_page.data.title %>
      <% end %>

      <%# If there's date metadata, list it %>
      <%# note: using current_page.date instead of current_page.data.date b/c date is listed in filename of blog posts %>
      <% if current_page.respond_to?(:date) %>
        <div class="l-wrapper">
          <%= component "meta", locals: {
            date: current_page.date.strftime("%B %-d, %Y"),
            borders: ["bottom"],
            classes: "l-margin-top-wide"
          } %>
        </div>
      <% end %>
    </header>

    <!-- Main content -->
    <main class="t-content t-content--dropcap l-wrapper l-margin-bottom-xwide">
      <%= yield %>
    </main>
  </article>

  <nav class="border-top">
    <%
      next_post = next_post(current_page.data.title)
      prev_post = prev_post(current_page.data.title)
    %>
    <div class="l-wrapper l-padding-y-wide">
      <ul class="l-gallery l-gallery--large">
        <% if prev_post %>
        <li class="l-gallery-item">
          <h1 class="t-scale-eta t-accent-bold t-caps">Previous post</h1>
          <%= link_to prev_post.data.title, prev_post.url, class: "t-heading t-scale-beta" %>
        </li>
        <% end %>
        <% if next_post %>
        <li class="l-gallery-item">
          <h1 class="t-scale-eta t-accent-bold t-caps">Next post</h1>
          <%= link_to next_post.data.title, next_post.url, class: "t-heading t-scale-beta" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>
